@tailwind preflight
@tailwind components;
@tailwind utilities;

.title {
  @apply font-sans font-light;
}

.date {
  @apply font-sans;
}

.text {
  @apply font-sans;
}

.link {
  box-shadow:none;
  text-decoration:none;
  padding-bottom:1px;
}

.link:hover {
  box-shadow:none;
  text-decoration:none;
  color:#0066ff;
}

h1,h2,h3,h4,h5,h6 {
  @apply font-sans font-normal normal-case tracking-normal;
}
