@tailwind preflight
@tailwind components;
@tailwind utilities;

.nav {
  @apply flex items-center justify-between bg-white flex-wrap p-6 pin-y z-10 h-16 fixed w-full;
}

.nav-scrolled {
  @apply flex items-center justify-between bg-white flex-wrap p-6 shadow border-t-8 z-10 pin-y fixed h-16 w-full border-0 border-b-2 border-grey-dark;
  border-bottom:3px solid whitesmoke;

}

.logo {
  @apply flex items-center flex-no-shrink text-white mr-6 font-sans tracking-wide;
}

.logo-font {
  @apply font-semibold text-xl tracking-tight text-black font-sans tracking-wide;
}

.hamburger {
  @apply block;
}

.hamburger:lg {
  @apply hidden;
}

.hamburger-button {
  @apply flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light;
}

.hamburger-svg {
  @apply fill-current h-3 w-3;
}

.hamburger-button:hover {
  @apply text-white border-white;
}

.link-cont {
  @apply w-full block flex-grow;
}

.link-cont:lg {
  @apply flex w-auto items-center;
}

.links {
  @apply text-sm;
}

.links:lg {
  @apply flex-grow;
}

.pill {
  @apply inline-block border border-white rounded text-blue py-1 px-3;
  box-shadow: none;
  text-decoration: none;
}

.pill:hover {
  @apply border-grey-lighter bg-grey-lighter;
}
