@tailwind preflight
@tailwind components;
@tailwind utilities;

.nav {
  @apply flex bg-white pin-y z-10 fixed w-full;
  height:4.5rem;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.nav-scrolled {
  @apply flex shadow bg-white pin-y z-10 h-16 fixed w-full border-0 border-b-2 border-grey-dark;
  border-bottom:2px solid whitesmoke;
  -webkit-transition: height .1s linear;
  -moz-transition: height .1s linear;
  -o-transition: height .1s linear;
  transition: height .1s linear;

}

.logo {
  @apply flex items-center flex-no-shrink text-white mr-6 font-sans tracking-wide inline-block;
}

.logo-font {
  @apply font-semibold text-xl tracking-tight text-black font-sans tracking-wide;
  line-height:4rem;
}

.link-cont {
  @apply w-full inline-block flex;
}

.link-cont:lg {
  @apply flex w-auto items-center;
}

.links {
  @apply text-sm;
}

.links:lg {
  @apply flex-grow;
}

.pill {
  @apply inline-block border border-white rounded text-blue py-1 px-3;
  box-shadow: none;
  text-decoration: none;
}

.pill:hover {
  @apply border-grey-lighter bg-grey-lighter;
}
