@tailwind preflight
@tailwind components;
@tailwind utilities;

.nav-cont {
  @apply bg-white pin-y fixed w-full z-10;
  height:4.5rem;
  -webkit-transition: height .1s linear;
  -moz-transition: height .1s linear;
  -o-transition: height .1s linear;
  transition: height .1s linear;
}

.nav-cont-scrolled {
  @apply bg-white pin-y h-16 fixed w-full z-10;
  -webkit-transition: height .1s linear;
  -moz-transition: height .1s linear;
  -o-transition: height .1s linear;
  transition: height .1s linear;
  border-bottom: 2px solid #f0f0f0;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.03);
}

.nav-items {
  @apply flex justify-between items-center;
}

.logo-font {
  @apply hidden font-semibold text-2xl tracking-tight text-black font-sans ml-2;
  line-height:4.4rem;
  letter-spacing:.5px;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
}

.logo-font-scrolled {
  @apply hidden font-semibold text-2xl tracking-tight text-black font-sans ml-2;
  line-height:3.9rem;
  letter-spacing:.5px;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
}

.logo-fontsm {
  @apply font-semibold text-xl tracking-tight text-black font-sans ml-2;
  line-height:4.4rem;
  letter-spacing:.5px;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
}

.logo-font-scrolledsm {
  @apply font-semibold text-xl tracking-tight text-black font-sans ml-2;
  line-height:3.9rem;
  letter-spacing:.5px;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
}

.pill-text {
  @apply text-xs;
}
.pill {
  @apply mr-1 align-bottom inline-block text-grey-dark font-sans rounded px-3;
  box-shadow: none;
  text-decoration: none;
  line-height:3.4rem;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
}

.connect {
  @apply mr-2 align-bottom inline-block font-medium text-xs font-sans text-black rounded px-1;
  box-shadow: none;
  text-decoration: none;
  line-height:3.4rem;
  border: 2px solid gold;
  background-color:#fff9d6;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
}

.connect-scrolled {
  @apply mr-2 align-bottom inline-block font-medium text-xs text-black font-sans rounded px-1;
  box-shadow: none;
  text-decoration: none;
  line-height:3rem;
  border: 2px solid gold;
  background-color:#fff9d6;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
}

.pill-scrolled {
  @apply mr-1 align-bottom inline-block text-grey-dark font-sans rounded px-3;
  box-shadow: none;
  text-decoration: none;
  line-height:3rem;
  -webkit-transition: line-height .1s linear;
  -moz-transition: line-height .1s linear;
  -o-transition: line-height .1s linear;
  transition: line-height .1s linear;
}

.pill:hover, .pill-scrolled:hover {
  @apply text-black font-sans bg-grey-lighter;
}

.connect:hover, .connect-scrolled:hover {
  @apply font-sans;
  background-color:#ffee90;
}

.connecttextlg {
  @apply hidden;
}

.connecttextsm {
  @apply block;
}

@screen md {
  .logo-font,.logo-font-scrolled {
    display:block;
  }
  .logo-fontsm,.logo-font-scrolledsm {
    display:none;
  }
  .pill-text {
    @apply text-base
  }
  .pill,.pill-scrolled {
    @apply mr-2;
  }

  .connect-scrolled,.connect {
    @apply text-base px-3;
  }
  .connecttextsm {
    @apply hidden;
  }
  .connecttextlg {
    @apply block;
  }
}
